@import url(../bootstrap/css/bootstrap-grid.css);
@import url(../bootstrap/css/bootstrap-reboot.css);
@import url(../bootstrap/css/bootstrap.css);
@font-face {
  font-family: 'Cocon';
  src: url("../fonts/Cocon-Regular.woff2") format("woff2"), url("../fonts/Cocon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cocon bold';
  src: url("../fonts/Cocon-Bold.woff2") format("woff2"), url("../fonts/Cocon-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Cocon", sans-serif;
  color: #6f6f6e; }

.text-blue {
  color: #00b3e4; }

.font-normal {
  font-family: "Cocon", sans-serif; }

.font-bold {
  font-family: "Cocon bold", sans-serif; }

.paragraph__title {
  text-align: center;
  color: #00b3e4;
  font-family: "Cocon bold", sans-serif; }

.font-14 {
  font-size: 14px; }

.font-16 {
  font-size: 16px; }

.font-18 {
  font-size: 18px; }

.font-20 {
  font-size: 20px; }

.font-24 {
  font-size: 24px; }

header {
  padding: 25px 0; }
header .site-branding img {
  max-width: 190px; }
header .main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; }
header .main-menu ul li {
  display: inline-block;
  margin-right: 35px; }
header .main-menu ul li a {
  color: #6f6f6e;
  position: relative;
  padding-right: 45px; }
header .main-menu ul li a:after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background: #00abe0;
  right: 0;
  top: 5px;
  border-radius: 50%; }
header .main-menu ul li:last-child a::after {
  display: none; }
header .hamburger {
  width: 40px;
  height: 30px;
  position: absolute;
  right: 10%;
  z-index: 999;
  cursor: pointer;
  height: 22px;
  padding-top: 10px; }
header .hamburger .burger-inner {
  height: 3px;
  width: 100%;
  position: relative;
  background: #00b3e4;
  display: block; }
header .hamburger .burger-inner::before, header .hamburger .burger-inner::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background: #00b3e4;
  transition: .2s transform; }
header .hamburger .burger-inner::before {
  top: -9px; }
header .hamburger .burger-inner::after {
  bottom: -9px; }
header .hamburger.active .burger-inner {
  background: none; }
header .hamburger.active .burger-inner::before {
  transform: rotate(45deg);
  top: 0; }
header .hamburger.active .burger-inner::after {
  transform: rotate(135deg);
  bottom: 0; }

@media (max-width: 768px) {
  header .main-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    z-index: 99;
    padding: 30% 15% 15%;
    transform: translateX(100%);
    transition: .3s transform; }
  header .main-menu ul li {
    display: block;
    font-size: 28px;
    margin-bottom: 10px; }
  header .main-menu ul li a {
    color: #ffffff;
    padding-right: 0;
    padding-left: 35px; }
  header .main-menu ul li a.is-active {
    color: #00b3e4;
    }
  header .main-menu ul li a::after {
    left: 0;
    right: auto; }
  header .main-menu ul li:last-child a::after {
    display: block; }
  header .main-menu.active {
    transform: translateX(0); } }
.banner {
  position: relative; }
.banner__bg img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
.banner__content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: rgba(62, 59, 56, 0.7); }
.banner__content-inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }
.banner__content-inner h1 {
  font-family: "Cocon bold", sans-serif;
  color: #ffffff;
  font-size: 64px; }
.banner__content-inner .banner-logo {
  margin-bottom: 80px; }
.banner__content-inner .banner-logo img {
  max-width: 240px; }
.banner__content-inner .sub-title {
  color: #fff;
  margin-top: auto;
  margin-bottom: 0; }

@media (max-width: 768px) {
  .banner__content-inner {
    padding-top: 20px; }
  .banner__content-inner .banner-logo {
    margin-top: 0;
    margin-bottom: 10px; }
  .banner__content-inner .banner-logo img {
    max-width: 20%; }
  .banner__content-inner .sub-title {
    font-size: 20px;
    margin-bottom: 15px; }
  .banner__content-inner h1 {
    font-size: 34px; } }
.block-bg-v1 {
  background: linear-gradient(to right, #00b2e2 50%, #31bdeb 50%); }
.block-bg-v1 .split-bg {
  background: url("../img/v1-bg.png") center 0 repeat-y;
  justify-content: space-between;
  padding: 60px 0;
  background-size: 210px; }

.block-whoweare {
  background: url(../img/whoweare-bg.jpg) 0 0 no-repeat;
  background-size: cover;
  min-height: 540px; }
.block-whoweare .paragraph__content p {
  font-size: 18px; }

.bg-blue {
  background: #00b3e4; }

.bg-light-gray {
  background: #f5f5f5; }

.icon {
  position: relative; }
.icon img {
  max-width: 120px; }
.icon .icon-order {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  color: #ffffff;
  font-size: 40px;
  font-family: "Cocon bold", sans-serif; }

.work-block {
  background: #f5f5f5;
  padding-top: 100px; }
.work-block .filter {
  margin-bottom: 60px; }
.work-block .filter ul {
  text-align: center; }
.work-block .filter ul li {
  display: inline-block;
  font-size: 20px;
  margin-right: 60px; }
.work-block .work-wrapper .single-card {
  padding-left: 20px;
  padding-right: 20px; }
.work-block .work-wrapper .single-card .single-card-inner {
  position: relative;
  margin-bottom: 40px; }
.work-block .work-wrapper .single-card .single-card-inner img {
  max-width: 100%;
  height: auto; }
.work-block .work-wrapper .single-card .single-card-inner .project-name {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("../img/work-bg.png") 0 0 no-repeat;
  background-size: cover;
  width: 170px;
  height: 70px;
  padding-top: 40px;
  color: #ffffff;
  padding-left: 30px; }

.articles-wrapper {
  background: #f5f5f5;
  padding-top: 80px; }
.articles-wrapper .card {
  padding: 1.25rem;
  border: 0;
  border-radius: 0;
  margin-bottom: 40px; }
.articles-wrapper .card img {
  border-radius: 0;
  margin-bottom: 25px; }
.articles-wrapper .card .card-body {
  padding: 0; }
.articles-wrapper .card .card-body .card-title {
  text-align: center; }
.articles-wrapper .card .card-body .card-title a {
  color: #00b3e4; }

.hidden {
  display: none; }

.contact-infos p {
  font-size: 28px; }
.contact-infos p span.text-blue {
  margin-right: 10px; }

.client-block {
  background: url("../img/client-bg.png") bottom center no-repeat;
  background-size: 100%;
  padding-bottom: 400px;
  position: relative; }
.client-block .bg-slogan {
  position: absolute;
  bottom: 60px;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: "Cocon bold", sans-serif;
  color: #ffffff; }
.client-block img {
  max-width: 55%;
  height: auto;
  margin: 0 auto;
  display: block; }

@media (max-width: 768px) {
  .work-block {
    padding-top: 40px; }
  .work-block .filter ul {
    padding: 0; }
  .work-block .filter ul li {
    margin-right: 18px; }

  .client-block {
    padding-bottom: 100px; }
  .client-block .bg-slogan {
    bottom: 0;
    font-size: 16px; } }
.form-container {
  background: #f5f5f5;
  padding-top: 80px; }

.form-container #contact-message-contact-us-form {
  margin-bottom: 3rem;
}
.form-container .contact-form textarea {
  min-height: 200px !important; }
.form-container .contact-form label {
  font-size: 28px;
  color: #878786; }
.form-container .contact-form .txt-field {
  width: 100%;
  background: #ececec;
  height: 50px;
  line-height: 50px;
  border: 0;
  padding-left: 15px;
  font-size: 18px; }

.form-container .contact-form #edit-submit{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  color: #00b3e4;
  border: 0.5px solid #d2d2d1;

}
.form-container .contact-form #edit-submit:hover{

  background-color: #f7f5f5;
  border: 0.5px solid #00b3e4;

}

.form-container .contact-form div#edit-actions .col-md-9{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#block-sectorc-local-tasks
{
  text-align: center;
  margin-top: 40px;
}


