{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}


<div class="form-container">
  <div class="container">
<form  class="contact-form row justify-content-center" {{ attributes }}>
  <div class="col-md-8">
  {{ children }}
  </div>
</form>
  </div>
</div>
