{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<!-- Banner begin -->
<div class="banner home-banner">
  <div class="banner__bg">
    <img src="/{{ directory }}/img/banner-contact.jpg" class="img-fluid">
  </div>
  <div class="banner__content">

    <div class="banner__content-inner">
      <h1>Contact us</h1>
    </div>
  </div>
</div>
<!-- Banner end -->

<div class="form-container">
  <div class="container">
<form  class="contact-form row justify-content-center" {{ attributes }}>
  <div class="col-md-8">
  {{ children }}
  </div>
</form>

<div class="row justify-content-center contact-infos pb-5">
  <div class="col-md-12">
    <div class="row text-center justify-content-center">
      <div class="col-md-4">
        <p><span class="text-blue">T</span>+971 4 455 8589</p>
      </div>
      <div class="col-md-4">
        <p><span class="text-blue">F</span>+971 4 455 8589</p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-6">
        <p><a href="mailto"  class="text-blue">info@sectorcmedia.com</a></p>
      </div>
      <div class="col-md-6">
        <p class="text-blue">Downtown Dubai, UAE, P.O.Box 334155</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
