{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

 {%  set logo_hp=file_url(content.field_paragraph[0]['#paragraph'].field_image[0].entity.uri.value) %}
 {%  set title_banner_hp=content.field_paragraph[0]['#paragraph'].field_title.value %}

<!-- Banner begin -->
<div class="banner home-banner">
  <div class="banner__bg">
    <img src="/{{ directory }}/img/banner-home.jpg" class="img-fluid">
  </div>
  <div class="banner__content">

    <div class="banner__content-inner">

      <div class="wrapper-home-logo">
        <div class="banner-logo">
          <h1>
            <img src="{{ logo_hp }}" alt="Sector C">
          </h1>
        </div>
        <h2 class="sub-title">{{ title_banner_hp }}</h2>
      </div>
    </div>
  </div>
</div>
<!-- Banner end -->

<!-- What we do begin -->
  <div class="paragraph">
    <div class="paragraph__title pt-5 pb-5">
      <h2>What we do</h2>
    </div>

    <div class="paragraph__content block-bg-v1">
      <div class="container">
        <div class="row split-bg text-center text-white">
            {% for item in content.field_paragraph %}
              {% if (item['#paragraph'] is not empty) and (item['#paragraph'].type[0].target_id=="title_text_hp")
               and item['#paragraph'].field_tags.value=="1" %}
              <div class="col-md-5 mb-5">
                <h4 class="mb-4 font-bold">{{ item['#paragraph'].field_title.value }}</h4>
                <p>{{ item['#paragraph'].field_description.value|striptags }}</p>
              </div>
              {% endif %}
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- What we do end -->

  <!-- Who we are begin -->
<div class="paragraph block-whoweare pt-5">
    {% for item in content.field_paragraph %}
      {% if (item['#paragraph'] is not empty) and (item['#paragraph'].type[0].target_id=="title_text_hp")
       and (item['#paragraph'].field_tags.value=="2") %}
            <div class="paragraph__title pt-5 pb-5">
              <h2 class="text-white">{{ item['#paragraph'].field_title.value }}</h2>
            </div>

            <div class="paragraph__content">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-8">
                    <p class="text-center text-white">{{ item['#paragraph'].field_description.value|striptags}} </p>
                  </div>
                </div>
              </div>
            </div>
      {% endif %}
    {% endfor %}
</div>
<!-- Who we are end -->


<!-- Mission begin -->
<div class="paragraph bg-blue pt-5 pb-5">
          <div class="paragraph__title pt-5 pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-md-8">
                    {% for item in content.field_paragraph %}
                     {% if (item['#paragraph'] is not empty) and (item['#paragraph'].type[0].target_id=="title_text_hp")
                       and  (item['#paragraph'].field_tags.value=="3") %}
                      <h2 class="text-white">{{ item['#paragraph'].field_title.value }}</h2>
                      <p class="sub-heading text-white font-normal">{{ item['#paragraph'].field_description.value|striptags }}</p>
                      {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>

        <div class="paragraph__content pb-5">
          <div class="container">
            <div class="row text-center text-white">

              <div class="col-md-12 mb-5">
                <h3>We value the impact we make and base our actions on the following trilogy:</h3>
              </div>
                {% for item in content.field_paragraph %}
                  {% if (item['#paragraph'] is not empty) and (item['#paragraph'].type[0].target_id=="title_text_hp")
                     and  (item['#paragraph'].field_tags.value=="4") %}
                  <div class="col-md-4">
                    <h4 class="font-bold">{{ item['#paragraph'].field_title.value }}</h4>
                      {{ item['#paragraph'].field_description.value|striptags }}
                  </div>
                {% endif %}
                {% endfor %}
            </div>
          </div>
         </div>
</div>
<!-- Mission end -->

<!-- What we do begin -->
<div class="paragraph bg-light-gray pt-4 pb-5">
  <div class="paragraph__title pt-5 pb-5">
    <h2>4-Step Process & Methodology</h2>
  </div>

  <div class="paragraph__content">
    <div class="container">
      <div class="row text-center text-blue justify-content-between">
          {% set i=0 %}
          {% for item in content.field_paragraph %}
          {% if (item['#paragraph'] is not empty) and (item['#paragraph'].type[0].target_id=="title_text_hp")
          and  (item['#paragraph'].field_tags.value=="5") %}
              {% set i=i+1 %}
            <div class="col-md-5">
              <div class="icon mb-3">
                <img src="{{ file_url(item['#paragraph'].field_image[0].entity.uri.value) }}">
                <span class="icon-order">{{ i}}</span>
              </div>
              <h4 class="mb-3 font-bold font-20">{{ item['#paragraph'].field_title.value }}</h4>
              <p class="font-14">{{ item['#paragraph'].field_description.value|striptags }}</p>
            </div>
          {% endif %}
          {% endfor %}

      </div>
    </div>
  </div>

</div>
<!-- What we do end -->






