{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}<!-- Top Header Begin -->
<header>
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="site-branding col-md-3">
                <img src="/{{ directory }}/img/logo.png">
            </div>
            <div class="main-menu col-md-7">
                <nav>
                    <ul>
                        <li>
                            <a href="#">What we do</a>
                        </li>
                        <li>
                            <a href="#">Our work</a>
                        </li>
                        <li>
                            <a href="#">Blog</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Top Header end -->

<!-- Banner begin -->
<div class="banner home-banner">
    <div class="banner__bg">
        <img src="/{{ directory }}/img/banner-home.jpg" class="img-fluid">
    </div>
    <div class="banner__content">

        <div class="banner__content-inner">

            <div class="wrapper-home-logo">
                <div class="banner-logo">
                    <h1>
                        <img src="/{{ directory }}/img/banner-logo.png" alt="Sector C">
                    </h1>
                </div>
                <h2 class="sub-title">"unleash your crativity"</h2>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->

<!-- What we do begin -->
<div class="paragraph">
    <div class="paragraph__title pt-5 pb-5">
        <h2>What we do</h2>
    </div>

    <div class="paragraph__content block-bg-v1">
        <div class="container">
            <div class="row split-bg text-center text-white">

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Stratigic Consulting & planning</h4>
                    <p>Positioning - Competition analysis - Integrated Marketing Communications - Branding Strategy - Media planning - KPI reporting & analysis</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Concept creation</h4>
                    <p>Conceptual research - Artistic direction - Graphical territory - Elements of language - Semiotic - Guidelines</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Motion design</h4>
                    <p>Video production - Motion Design - Interactive animations - Logo animations - Animated pitches - flipbook</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Advertising</h4>
                    <p>Outdoor advertising campaign - Media planning - Press releases - TV & Radio Messages and Ads - Multimedia Ad Placement</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Web</h4>
                    <p>Wireframe - OpenSource CMS - Website development- Mobile User-Experience Development - SEO and SEM - PPC Strategies and campaigns - Analytic reporting</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Content Marketing</h4>
                    <p>Editorial Board - Print and digital writing - Photo/Video Shooting - Iconography - Storyboard - Competitive intelligence.</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Corporate Marketing</h4>
                    <p>Office branding - Gift branding - POS Advertising</p>
                </div>

                <div class="col-md-5 mb-5">
                    <h4 class="mb-4 font-bold">Brand Engagement</h4>
                    <p>Activations strategies and campaigns - Promoters - Experiential marketing campaigns - Social Network Strategy - Community Management - Facebook ads - Follow-up and campaigns analysis - Key Influencers</p>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- What we do end -->


<!-- Who we are begin -->
<div class="paragraph block-whoweare pt-5">
    <div class="paragraph__title pt-5 pb-5">
        <h2 class="text-white">Who we are</h2>
    </div>

    <div class="paragraph__content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <p class="text-center text-white"><strong>SECTOR-C</strong> is a marketing consulting agency that favors value-creation and is committed to itsclients. Whether the objectives are commercial, altruistic or image-oriented, Sector C uses its creativity and technical skills, from positioning strategy to deliverables, focusing with rigor on direction, conviction and quality. Client-focused, our team has the ability to muster the interactions between the visuals, the emotional fuel, and your data analysis, the reasoned thinking. </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Who we are end -->


<!-- Mission begin -->
<div class="paragraph bg-blue pt-5 pb-5">
    <div class="paragraph__title pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-white">We have given ourselves a mission</h2>
                    <p class="sub-heading text-white font-normal">Give more meaning and more impulse to your marketing initiatives. We aspire to be one the leading marketing agencies in the U.A.E through the implementation of unconventional marketing campaigns.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="paragraph__content pb-5">
        <div class="container">
            <div class="row text-center text-white">

                <div class="col-md-12 mb-5">
                    <h3>We value the impact we make and base our actions on the following trilogy:</h3>
                </div>
                <div class="col-md-4">
                    <h4 class="font-bold">Strategy</h4>
                    <p>Any marketing action is driven by a strategy. We work with our clients to make sense of it, its focus and the goals to achieve</p>
                </div>
                <div class="col-md-4">
                    <h4 class="font-bold">Technology</h4>
                    <p>Communication plan, print supports, digital, videos, motion design, display, PR initiatives, event marketing...as many tools implemented by our agency, consistency guaranteed.</p>
                </div>
                <div class="col-md-4">
                    <h4 class="font-bold">Creativity</h4>
                    <p>Our creativity is distinguished by the desire to bring out ideas and concepts that, through the marketing scope,reveal the deep meaning of your message.</p>
                </div>


            </div>
        </div>

    </div>
</div>
<!-- Mission end -->


<!-- What we do begin -->
<div class="paragraph bg-light-gray pt-4 pb-5">
    <div class="paragraph__title pt-5 pb-5">
        <h2>4-Step Process & Methodology</h2>
    </div>

    <div class="paragraph__content">
        <div class="container">
            <div class="row text-center text-blue justify-content-between">
                <div class="col-md-5">
                    <div class="icon mb-3">
                        <img src="/{{ directory }}/img/icon1.png">
                        <span class="icon-order">1</span>
                    </div>
                    <h4 class="mb-3 font-bold font-20">Defining the project</h4>
                    <p class="font-14">We assess available resources, you different needs and best practices, how long it’s going to take, and how much your project is going to cost. We make sure we have all of the access necessary to review your assets.</p>
                </div>

                <div class="col-md-5">
                    <div class="icon mb-3">
                        <img src="/{{ directory }}/img/icon2.png">
                        <span class="icon-order">2</span>
                    </div>
                    <h4 class="mb-3 font-bold font-20">Scripting your story</h4>
                    <p class="font-14">Clarity is very important. We are not only storytellers, we are storybuilders. And as storybuilders, it’s up to us to work from a strong foundation. It’s up to us to make sure we provide you with an augmented brief that makes sense and that we can build from.</p>
                </div>

                <div class="col-md-5">
                    <div class="icon mb-3">
                        <img src="/{{ directory }}/img/icon3.png">
                        <span class="icon-order">3</span>
                    </div>
                    <h4 class="mb-3 font-bold font-20">Project Kick-off</h4>
                    <p class="font-14">At this stage, we can kicking off on the right foot. Whether it is a creative project or one that is more production oriented, we assign you a team of a strategist, a coordinator, a search analyst, a designer, and a project Manager to ensure a smoother the delivery process.</p>
                </div>

                <div class="col-md-5">
                    <div class="icon mb-3">
                        <img src="/{{ directory }}/img/icon4.png">
                        <span class="icon-order">4</span>
                    </div>
                    <h4 class="mb-3 font-bold font-20">Making the stuff</h4>
                    <p class="font-14">Production at our agency can range across media, platforms and well almost anything. Sometimes we hire people to help out, and sometimes it is a large collaboration with outside resources. However, part of what makes our agency special is our attention to craft. That means that the creative team plays a role in the production process.</p>
                </div>

            </div>
        </div>

    </div>

</div>
<!-- What we do end -->

<footer class="py-4">
    <p class="text-center m-0">© SECTOR-C 2018</p>
</footer>