<div class="filter">
    <ul>

        <li><a href="nojs/our_work/all" class="use-ajax btn btn-default">#All</a></li>
        {% for filter in filters %}
        <li><a href="nojs/our_work/{{ filter.tid }}" class="use-ajax btn btn-default">#{{ filter.name }}</a></li>
        {% endfor %}
    </ul>
</div>