{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @ingroup templates
 *
 * @see template_preprocess_views_view()
 */
#}

  <!-- work wrapper begin -->
  <div class="paragraph">

    <div class="paragraph__content work-block">
      <div class="container">

          {{ drupal_block('our_work_filters_block') }}

        <div class="row work-wrapper no-gutters " id="our-work-block" >
            {% if rows %}
                {% for row in rows %}
          <div class="col-md-4 single-card" {{ row.attributes }}>

                      {{- row.content -}}
          </div>

                {% endfor %}
            {% endif %}
        </div>

      </div>
    </div>

  </div>
  <!-- work wrapper end -->

